@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#rootContainer {
    z-index: 4;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 10vmin;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    line-height: 10vh;
}

.mainText {
    font-size: 10vh;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 3vh;
}

.textBox {
    margin: 1vh;
    border: none;
    border-bottom: 7px solid whitesmoke;
    background-color: transparent;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

textArea:focus,
.textBox:focus {
    color: whitesmoke;
}

.textBox,
select,
textarea {
    color: whitesmoke;
}

::placeholder {
    color: whitesmoke;
    opacity: .5;
}

button {
    border-radius: 8px;
    background-color: transparent;
    padding: 16px 32px;
    border: 2px solid #ffffff;
    font-size: 5vh;
    color: whitesmoke;
    z-index: 60;
    cursor: pointer;
    margin-top: 2vh;
    font-family: 'Montserrat', sans-serif;
}

.categoriesList {
    height: 78vh;
    overflow-y: auto;
}

.categoriesList>button {
    font-size: 3vh;
    width: 80vw;
}

.playerInfo {
    position: fixed;
    bottom: 0;
    text-align: left;
    height: 9vh;
}

.playerInfo>* {
    display: inline-block;
    font-size: 6vh;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    vertical-align: middle;
}

.playerInfo>img {
    height: 6vh;
    padding-left: 1vh;
    padding-right: 1vh;
    animation: shake 3s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.countdownTimer {
    padding-top: 10vh;
    font-size: 35vh;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
}

.subtext {
    padding-top: 10vh;
    font-size: 5vh;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

.pageHeader {
    padding-top: 2vh;
    padding-left: 2vh;
    display: inline-block;
    width: 90vw;

}

.scoreContainer {
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: left;
    float: left;
}

.quitButton {
    float: right;
    font-size: 3vh;
    margin-top: 0vh;
    padding: .5vw;
    margin-right: 2vw;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
}

.questionContainer {
    padding-top: 2vh;
}

.questionTitle {
    font-size: 3.5vh;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    padding-left: 2vw;
    padding-right: 2vw;
}

.answersList {
    height: 70vh;
    overflow-y: auto;
}

.answersList>button {
    font-size: 3vh;
    width: 80vw;
}

.timeContainer {
    font-size: 10vh;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
}

.correctAnswer {
    background-image: url('../assets/answerIcons/correct.png');
    background-repeat: no-repeat;
    background-position: 3px;
    padding: 2vw;
    background-size: 3vh;
    border: 2px solid #4CAF50;
}

.incorrectAnswer {
    background-image: url('../assets/answerIcons/incorrect.png');
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 3vh;
    padding: 2vw;
    border: 2px solid red;
    animation: incorrect 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes incorrect {

    10%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(3px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-8px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(8px, 0, 0);
    }
}

.scoreLabel{
    font-size: 10vh;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    margin-top: 5vh;
}

.scoreSubLabel {
    padding-top: 5vh;
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    padding-left: 2vw;
    padding-right: 2vw;
}

.returnButton {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 10vh;
}